<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Upload VCF File</h1>
    <form id="upload_form" action="https://{{ bucket_name }}.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="key" value="{{ key }}" />
      <input type="hidden" name="acl" value="{{ acl }}" />
      <input type="hidden" name="policy" value="{{ policy }}" />
      <input type="hidden" name="signature" value="{{ signature }}" />
      <input type="hidden" name="AWSAccessKeyId" value="{{ aws_key }}">
      <input type="hidden" name="success_action_redirect" value="http://atinn-hw3.ucmpcs.org:5000/annotate/files">
      ......
      Select input file: <input id="upload_file" type="file" name="file" />
      <input type="submit" value="Upload Input File" />
    </form>
  </body>
</html>